<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Login to Wondough</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div class="page">
      <div class="centre-float">
        <div class="logo">
          <img class="logo-image" alt="logo" src="wondough-logo.png">
          <div>
            <span class="logo-wondough">WONDOUGH</span>
            <span class="logo-bank">BANK</span>
          </div>
        </div>
        <form class="login-form" method="post" action="">
          <!--suppress HtmlUnknownAttribute -->
          <input th:style="${box_styling}" type="text" name="username"
                 placeholder="Account ID"/>
          <!--suppress HtmlUnknownAttribute -->
          <input th:style="${box_styling}" type="password" name="password"
                 placeholder="Password"/>
          <input type="submit">
        </form>
      </div>
    </div>
  </body>

</html>