<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Login to Wondough</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div class="page">
      <div class="centre-float">
        <div class="baby-boy-logo">
          <img class="logo-image" alt="logo" src="wondough-logo.png">
          <div>
            <span class="logo-wondough">WONDOUGH</span>
            <span class="logo-bank">BANK</span>
          </div>
        </div>
        <form class="registration-form" action="register_submit" method="post">
          <div>
            <input type="text" name="firstName" placeholder="First name">
            <input type="text" name="lastName" placeholder="Last name">
            <input type="tel" name="phoneNumber" placeholder="Phone number">
          </div>
          <div>
            <input type="text" name="addressLine1" placeholder="Address line 1">
            <input type="text" name="addressLine2" placeholder="Address line 2">
            <input type="text" name="postcode" placeholder="Postcode">
            <input type="text" name="county" placeholder="County">
          </div>
          <div>
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2"
                   placeholder="Repeat password">
          </div>
          <input class="" type="submit">
        </form>
      </div>
    </div>
  </body>

</html>
